<div class="links scroll">
        <a href="{{site.baseurl}}/">About</a>
        <!-- <a href="{{site.baseurl}}/">News</a> -->
        <a href="{{site.baseurl}}/publications/">Publications</a>
        <a href="{{site.baseurl}}/research/">Research</a>
        <!-- <a href="{{site.baseurl}}/activities/">Activities</a> -->
        <a href="{{site.baseurl}}/teaching/">Teaching</a>
        <!-- <a href="{{site.baseurl}}/blog/">Blog</a> -->
        <!-- <a href="{{site.baseurl}}/venue/">Venue</a> -->
        <a href="https://drive.google.com/file/d/1r1JulYMyQXiFQiGpUFx5BPopbiE_g0w_/view?usp=sharing">CV</a>
        <a href="https://scholar.google.com/citations?user=jlRNTa8AAAAJ&hl=en">GoogleScholar</a>
</div>
